.Sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 100vh;
    position: fixed;
    width: 5%;
    padding-bottom: 5rem !important;
}

.Sidebar.sidebar-top svg:first-child path{
    fill:#34CAA5 ;
    
}
.Sidebar .adjustingColor{
    fill: var(--border);
    background-color: var(--tertiary-color);
    padding-inline: 5px;
    border-radius: 10px;
}

.Sidebar .active::before{
    content: "";
    height: 24px;
    width: 4px;
    border-radius: 10px 0 0 10px;
    background-color: var(--tab-effect);
    display: block;
    position: absolute;
    right: -15px;
    top: 10px;
}
.Sidebar .mainIcons{
    position: relative;
}
.Sidebar .mainIcons svg{
    margin-top: 5px;
}
/* .mainIcons :hover{
    background-color: var(--primary-color);
    border-radius: 20px;
    
} */
.Sidebar svg{
    color: var(--bg-color);
    
}

.sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
}
.sidebar-top svg{
    height: 20px;
}
.sidebar-top svg:nth-of-type(1){
    height: 35px;
}
.sidebar-top > svg{
    margin-bottom: 20px;
}
.sibebar-bottom .mainIcons{
    margin-top: 10px;
}
.sidebar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3rem;
}
@media (max-width:532px){
    .Sidebar{
        display: none;
    }
}