.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--border);
    margin-bottom: 20px;
    z-index: 20;
    padding-block: 10px;
}
.Navbar h2{
    font-weight: 500;
    font-size: 20px;
}
.navbarLogo{
    display: none;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
    /* width: 65%; */
    justify-content: space-between;
    flex: 0.65;
}
.navbar-right .input-group{
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #DADDDD;
    background: var(--Neutral-White, #FFF);
    padding-inline: 10px;
    width: 35%;
    min-width: 200px;
}
.navbar-right .input-group input{
    outline: 0;
    border: 0;
    border-radius: 50px;
    width: 90%;
}
.navbar-right .profile-view{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 28px;
    border: 1px solid var(--border);
    padding-inline: 10px;
    gap: 10px;

}
.navbar-right .notification{
    height: 40px ;
    width: 40px ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.769px solid var(--border);
}
.navbar-right .notification:hover{
    background-color: #74867939;
}
.navbar-right .notification svg path{
    fill: var(--primary-color);
}
.navbar-right .profile-view .text p{
    margin: 0;
}
.navbar-right .profile-view svg path{
    fill: var(--primary-color);
}
.navbar-right .profile-view .text p:nth-of-type(1){
    font-size: 16px;
    margin-bottom: 5px;
}
.navbar-right .profile-view .text p:nth-of-type(2){
    font-size: 13px;
    color: #787486;
}
.menu-icon{
    display: none;
}
.keypad-icon{
    display: none;
}
.menu-icon svg{
    margin-top: 10px;
}
.keypad-icon svg{
    margin-top: 10px;
}
.menu-container-close{
    display: none;
}
.menu-container-open{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 80px;
    height: 200px;
    width: 60%;
    padding: 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.sidemenu-container-close{
    display: none;
}
.sidemenu-container-open{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    position: absolute;
    top: 80px;
    height: 200px;
    width: 60%;
    padding: 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.sidemenu-container-open .upper-part{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Add this line */
    gap: 20px;
}
.sidemenu-container-open .lower-part{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Add this line */
    gap: 20px;
}
.Navbar .adjustingColor{
    /* fill: var(--border); */
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.Navbar .upper-part .mainIcons:not(:first-child) {
    padding-block: 10px;
    text-align: center;
    flex: 0 0 22.333%;
    border-radius: 10px;
}
.Navbar .upper-part .active:not(:first-child){
    background-color: var(--bg-color);
}
.Navbar .lower-part .mainIcons {
    padding-block: 5px;
    text-align: center;
    flex: 0 0 22.333%;
    border-radius: 10px;
}

.Navbar .active{
    background-color: var(--bg-color);
}
.Navbar hr{
    margin-block: 15px;
}
@media (max-width:850px){
    .navbar-right{
        justify-content: end;
        gap: 20px;
    }
    .navbar-right>.input-group{
        display: none;
    }
    .navbar-right>.dropdown{
        display: none;
    }
    .navbar-right>.profile-view{
        display: none;
    }
    .menu-container-open .input-group{
        display: flex;
        width: 90%;
        color: var(--bg-color);
    }
    .menu-container-open .dropdown{
        display: flex;
        width: 100%;
        
    }
    .menu-container-open .dropdown .dropdownTitle .dropdown-current{
        color: var(--bg-color);
    }
    .menu-container-open .dropdown .dropdownTitle p::after{
        color: var(--bg-color);
    }
    .menu-container-open .profile-view{
        display:flex;
        justify-content: space-evenly;
    }
    .menu-container-open .profile-view .text p:first-child{
        color: var(--bg-color);
    }
    .menu-container-open .profile-view svg path{
        fill: var(--bg-color);
    }
    .menu-icon{
        display: block;
    }
    .keypad-icon{
        display: block;
    }
   
}

@media (max-width:532px){
    .navbarLogo{
        display: block;
    }
}
