.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    width: calc(100%-5%);
    position: sticky;
    top: 0;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E5EAEF;
    margin-bottom: 20px;
    z-index: 20;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 65%;
    justify-content: space-between;
}
.navbar-right .input-group{
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #DADDDD;
    background: var(--Neutral-White, #FFF);
    padding-inline: 10px;
    width: 35%;
}
.navbar-right .input-group input{
    outline: 0;
    border: 0;
    border-radius: 50px;
}
.navbar-right .profile-view{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 28px;
    border: 1px solid #DADDDD;
    padding-inline: 10px;
    gap: 10px;

}
.navbar-right .notification{
    height: 40px ;
    width: 40px ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.769px solid #DADDDD;
}
.navbar-right .notification:hover{
    background-color: #74867939;
}
.navbar-right .profile-view .text p{
    margin: 0;
}
.navbar-right .profile-view .text p:nth-of-type(1){
    font-size: 16px;
    margin-bottom: 5px;
}
.navbar-right .profile-view .text p:nth-of-type(2){
    font-size: 13px;
    color: #787486;
}