
.dark_mode {
    margin-top: -20px;
    margin-left: 10px;
}

.dark_mode_label {
    width: 40px;
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 3px;
    padding-bottom: 5px;
    background: #FFF;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.dark_mode_label:after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 6px;
    left: 6px;
    background: #34CAA5;
    border-radius: 180px;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
    background: white;
}
.dark_mode_input:checked + .dark_mode_label:after {
    top: 77px;
    transform: translateY(-100%);
    background: #34CAA5;
}
/* .dark_mode_label:active:after {
    width: 30px;
} */

.dark_mode_label {
    /* position: relative; */
    /* width: 16px; */
    /* top: 6px; */

}
.dark_mode_label svg:first-child {
    fill: #fff !important;
    transition: 0.3s;
    z-index: 5;
}

.dark_mode_label svg:last-child {
    fill: #fff !important;
    transition: 0.3s;
    z-index: 5;
    margin-bottom: 5px;
}

.dark_mode_input:checked + .dark_mode_label svg:first-child {
    fill: #7e7e7e !important;
}

.dark_mode_input:checked + .dark_mode_label svg:last-child {
    fill: #fff !important;
}

