:root {
  --bg-color:#FAFAFA;
  --primary-color:rgb(14, 14, 14);
  --secondary-color:white;
  --tertiary-color: transparent;
  --border: #E1DFDF;
}
[data-theme='dark']{
  --bg-color: rgb(14, 14, 14);
  --primary-color:white;
  --secondary-color:rgb(14, 14, 14);
  --tertiary-color: white;
  --border: #3A3F51;
}
/* Light theme styles */
body{
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.main{
  margin-left: 5%;
}
.dashboard{
  display: flex;
  width: calc(100%-5%);
  padding-inline: 20px;
  gap : 2%;
}
.dashboard .dashboard-left{
  width: 53%;
}
.dashboard .dashboard-right{
  width: 45%;
}
.barChart{
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 14px;

}
.barChart select{
  width: 100px;
  height: 30px;
  border-radius: 25px;
  outline: 0;
  padding-inline: 5px;
  border: 1px solid var(--border);
  
}

.chartHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}
.chartHeader h3{
  font-size: 18px;
  font-weight: 500;
  margin-block: 4px;
}
.chartHeader label{
  font-size: 13px;
  margin-right: 10px;
}
.operation-stats{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.operation-stats .stat{
  width: 42%;
  /* height: 130px; */
  padding: 16px;
  border-radius: 14px;
  border: 1px solid var(--border);
  background: var(--secondary-color);
}
.operation-stats .stat .stat-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 50%;
}
.top-platform{
  
  border-radius: 8px;
  background-color: var(--secondary-color);
}
.top-platform .header{
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
  height: 30px;
  margin-bottom: 25px;
}
